nav {
	margin: 27px auto 0;
	position: relative;
	width: 89%;
	height: 45px;
	background-color: #0A2D72;
	border-radius: 5px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 94%;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family:  'Tilt Neon', sans-serif;
}

.LogoFooter{
    width: 50%;
    margin-left: 195%;
}



.container{
    background-image: url('../../img/Page10/Tablero.jpg');
    background-position: top center;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 68rem;
    background-attachment: fixed;
    position:relative;
    z-index: 1;
    width: 79%;
    margin-left: 12%;
}

.botones{
    display: flex;
    justify-content: center;
    
}


.left{
    font-size: 50px;
    margin-left: -37%;
    color: #ffffff;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}


.right{
    font-size: 50px;
    margin-left:55%;
    color: #ffffff;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

.right:hover {
    color: #f9b515;
    cursor: pointer;
  }

.left:hover {
    color: #f9b515;
    cursor: pointer;
  }


h1{
    font-family:  'Tilt Neon', sans-serif;
    text-align: center;
} 

p{
    font-family:  'Tilt Neon', sans-serif;
    text-align: center;
    font-size: 30px; 
}

.p{
    color: #fff;
    margin-top: 6%;
    margin-bottom: 9%;
    width: 100%;
}

.calidad{
    width: 95px;
    margin-left: 25%;
}