nav {
	margin: 27px auto 0;
	position: relative;
	width: 89%;
	height: 45px;
	background-color: #0A2D72;
	border-radius: 5px;
	font-size: 0;
}


nav a {
	line-height: 50px;
	height: 94%;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family:  'Tilt Neon', sans-serif;
}

.LogoFooter{
    width: 50%;
    margin-left: 195%;
}

.footer{
   margin-top: -1%;
}

.container{
    /* background-image: url('./img/Index/Inicio.jpg'); */
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    position:relative;
    z-index: 1;
    width: 79%;
    margin-left: 12%;   
    overflow-y: scroll;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.left{
    font-size: 50px;
    margin-left: -37%;
    color: #ffffff;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}


.right{
    font-size: 50px;
    margin-left:55%;
    color: #ffffff;
    position: absolute;
    transform: translateY(-40%);
    border-radius: 100%;
}

.right:hover {
    color: #f9b515;
    cursor: pointer;
  }

.left:hover {
    color: #f9b515;
    cursor: pointer;
  }

  
  .btns{
    width: 10%;
    height:8%;
    font-size: 48px;
    margin-left:55%;
    color: #ffffff;
    position: absolute;
    top: 40%;
  }
  

h1{
    font-family:  'Tilt Neon', sans-serif;
    text-align: center;
} 

p{
    font-family:  'Tilt Neon', sans-serif;
    text-align: center;
    font-size: 26px; 
}

.calidad{
    width: 65%;
    margin-left: 20%;
}

.btns:hover{
    color: #f9b515;
    cursor: pointer;
  }
  

.card{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:160px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #0A2D72;
    border-radius:15px;
    margin-top: 2%;

  }

  
  .modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal {
    background-color: #fff;
    width: 700px;
    max-width: 200%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal h1 {
    margin: 0;
  }
  
  .modal p {
    opacity: 0.7;
    font-size: 14px;
  }

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 850px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    font-size: 18px;
    margin-left: -80px;
    font-family:  'Tilt Neon', sans-serif;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  